<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="intro_header">
                <a href="{% url 'login_app:sign_in' %}">Sign in</a>
                <a href="{% url 'login_app:sign_up' %}" id="sign_up">Sign up</a>
            </div>
            <div class="intro_info">
                <img src="{% static 'images/logo.png' %}">
                <p>app for registration and authentication</p>
            </div>
        </div>
    </div>
</body>
</html>