<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_logged.css' %}">
</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="intro_header">
                <a href="#" id="logout">Logout</a>
            </div>
            <div class="intro_info">
                <p>You are logged in with email <br>
                «{{ user.email }}»</p>
            </div>
        </div>
    </div>
</body>
</html>