<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not active</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_logged.css' %}">
</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="intro_header">
                <a href="{% url 'login_app:index' %}" id="logout">Home</a>
            </div>
            <div class="intro_info">
                <p>Your email is not confirmed. <br>
                    Please, check your mail for confirmation</p>
            </div>
        </div>
    </div>
</body>
</html>