<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style_sign_in.css">
</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="intro_info">
                <p>Sign in</p>
                <div>
                <form action="#">
                    <div class="input_item">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email">
                    </div>
                    <div class="input_item">
                    <label>Password</label>
                    <input type="password" name="password">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
</html>