<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style_sign_in.css">
</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="intro_info">
                <p>Sign in</p>
                {% if form.errors %}
                    <div id="form_errors">
                        <p>Errors:</p>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div>
                <form action="{% url 'login_app:sign_in' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="input_item">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" value="Submit">
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
</html>